{{!-- <!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/colaborador.css">
   

...
</head>
<aside class="sidebar">
  <h3>Menu</h3>
  <ul class="sidebar-list">
    <li><a href="/colaborador/dados" class="{{#ifActive '/colaborador/dados'}}active{{/ifActive}}">Meus dados</a></li>
    <li><a href="/colaborador/holerites" class="{{#ifActive '/colaborador/holerites'}}active{{/ifActive}}">Holerites</a></li>
    <li><a href="/colaborador/documentacao" class="{{#ifActive '/colaborador/documentacao'}}active{{/ifActive}}">Documentação</a></li>
    <li><a href="/colaborador/solicitacoes" class="{{#ifActive '/colaborador/solicitacoes'}}active{{/ifActive}}">Solicitações</a></li>
  </ul>
</aside>


</html> --}}
